
"/":
    defaults: "PublicController:renderHome"

"/home":
    defaults: "PublicController:renderHome"

"/teachers":
    defaults: "PublicController:renderTeachers"

"/schedule":
    defaults: "PublicController:renderSchedule"

"/school":
    defaults: "PublicController:renderTeachers"

"/news":
    defaults: "PublicController:renderNews"

"/restricted":
    defaults: "PublicController:renderRestricted"

"/login":
    defaults: "LoginController:render"
"/login/handleLogin":
    defaults: "LoginController:handleLogin"
"/login/logout":
    defaults: "LoginController:logout"

"/error/<param=404>":
    defaults: "PublicController:renderError$param"

#PRIVATE ROUTES

"/dashboard":
    defaults: "DashboardController:render"

"/marks":
    defaults: "MarksController:render"
"/marks/<param>":
    defaults: "MarksController:teacherAccess:$param"

"/personal-info":
    defaults: "PrivateController:renderPersonalInfo"

"/files":
    defaults: "PrivateController:renderFiles"

"/absence":
    defaults: "PrivateController:renderAbsence"

#API

"/api/marks/edit":
    defaults: "ApiController:edit"

"/api/marks/del":
    defaults: "ApiController:delete"

"/api/marks/add":
    defaults: "ApiController:add"

"/api/marks/addToAll":
    defaults: "ApiController:addToAll"

"/api/marks/export":
    defaults: "ApiController:export"

"/api/category/addCategory":
    defaults: "ApiController:addCategory"

"/api/category/removeCategory":
    defaults: "ApiController:removeCategory"

#DB FILLER

"/filler":
    defaults: "PublicController:fillDb"



