
"/":
    defaults: "HomeController:render"

"/home":
    defaults: "HomeController:render"

"/teachers":
    defaults: "TeachersController:render"

"/schedule":
    defaults: "ScheduleController:render"

"/school":
    defaults: "SchoolController:render"

"/prestige":
    defaults: "PrestigeController:render"


"/login":
    defaults: "LoginController:render"
"/login/handleLogin":
    defaults: "LoginController:handleLogin"

"/error/<param=404>":
    defaults: "ErrorController:render$param"

#PRIVATE ROUTES

"/dashboard":
    defaults: "DashboardController:render"

"/marks":
    defaults: "MarksController:render"

"/personal-info":
    defaults: "PersonalInfoController:render"

"/absence":
    defaults: "AbsenceController:render"



